waffling80-MX/History/*
waffling80-MX/__Previews/*
waffling80-NMB/__Previews/*
waffling80-NMB/History/*
waffling80-NMB/Project Logs for waffling80-NMB/*
waffling80-MX/Project Logs for waffling80-MX/*
waffling80-ALPS/History/*
waffling80-SMK/History/*
waffling80-SMK/__Previews/*
waffling80-SMK/Project Logs for waffling80-NMB/*
waffling80-ALPS/Project Logs for waffling80-MX/*
waffling80-SMK/Project Logs for waffling80-SMK/*
waffling80-ALPS/__Previews/*
waffling80-ALPS/Project Logs for waffling80-ALPS/*
waffling80-MX/Project Outputs for alps-cherry/*
waffling80-ALPS/Project Outputs for alps-cherry/*
waffling80-NMB/Project Outputs for alps-cherry/*
waffling80-NMB-USB/Project Outputs for alps-cherry/*
waffling80-NMB-USB/Project Outputs for Free Documents/*
